* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #1b3f55;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.profile-link {
  margin: 0 auto 0 0;
}

.profile-link:hover {
  text-decoration: underline;
}

.home-div {
  height: 100vh;
  background-image:linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.1) 40%), url("https://images.pexels.com/photos/140221/pexels-photo-140221.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.home-header {
  border-bottom: 2px solid #f50057;
  width: 300px;
  text-align: center;
  margin: 125px auto 10px auto;
  padding-bottom: 10px ;
}

.home-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.drawer-div {
  width: 240px;
  padding-top: 20px;
  height: 100vh;
}

.drawer-header {
  text-align: center;
  color: #1b3f55;
  border-bottom: 2px solid #1b3f55;
  width: 80%;
  margin: 0 auto;
}

.drawer-links {
  margin: 20px auto 0px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-link {
  font-size: 16px !important;
  margin: 0px auto 8px auto !important;
  width: 80% !important;
}

.nav-link:hover {
  color: #1b3f55 !important;
  background-color: transparent !important;
  border-radius: 0%;
  border-bottom: 1px solid #1b3f55 !important;
  border-top: 1px solid #1b3f55 !important;
}

.register-link {
  color: white;
  border: 1px solid white;
  background-color: #1b3f55;
  line-height: 1.75;
  border-radius: 4px;
  min-width: 150px;
  font-size: 0.875rem;
  padding: 5px 15px;
  cursor: pointer;
  margin: 10px;
  width: 300px;
}

.register-div {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register-input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  height: 40px;
  font-size: 16px;
  width: 100%;
  margin: 30px 10px 10px 10px;
  color: #1b3f55;
}

.register-input:focus {
  outline: none;
}

.register-button {
  margin: 20px auto !important;
}

.google-login-div {
  margin: 20px auto;
}

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  width:100%;
  height: 60px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.error-div {
  width: 100%;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65%;
  margin: 20px auto 0px auto;
  padding-bottom: 10px;
}

.profile-divider {
  border-bottom: 2px solid slategray;
  width: 95%;
  margin: 0 auto;
}

.name-header {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  font-weight: lighter;
  margin-left: 30px;
}

.location-text {
  margin: 0px 20px 0px 0px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.text-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.edit-button {
  font-size: 18px;
  cursor: pointer;
  margin: 20px auto 10px auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 3px;
  align-items: center;
  justify-content: center;
  height: 25px;
  transition: 0.3s;
}

.edit-button:hover {
  background-color: #eb6e8b !important;
  color:  white;
}

.images {
  width: 360px;
  margin: 20px auto 0px auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.image {
  width: 170px;
  height: 170px;
  margin: 5px;
  transition: transform .2s;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.user-image {
  object-fit: cover;
  border-radius: 3px;
  display: block;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.add-post {
  width: 370px;
  height: 60px;
  margin: 10px auto 10px auto;
  border-bottom: 1px solid #b2b2b2;
  color: #90caf9;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  cursor: pointer;
  margin-right: 160px;
}

.add-text {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.image-div {
  margin: 50px 0px 0px 0px;
}

.follower-image {
  width: 100%;
  height: 470px;
  object-fit: cover;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
}

.edit-fields {
  margin: 20px auto 0px auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-input {
  height: 20px;
  padding: 7px;
  font-size: 16px;
  margin-top: 10px;
  width: 90%;
  outline: none;
}

.save-button:hover {
  background-color: #eb6e8b !important;
}

.save-div {
  margin: 20px auto 20px auto;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.field-div {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 40px;
  width: 80%;
}

.field-header {
  font-weight: lighter;
  margin-bottom: 5px;
  color: #eb6e8b;
}

.edit-profile-image-div {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 0px auto;
}

.upload-button {
  background-color:  #ffffff !important;
  color: black !important;
  font-weight: lighter !important;
}

.upload-button:hover {
  background-color: #eb6e8b !important ;
}

.password-div {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  margin: 10px auto 10px auto;
}

.posts-count {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.posts-count:hover {
  color: #eb6e8b;
}

.posts-data {
  text-align: center;
}

.add-button {
  border-color: black !important;
  transition: 0.3s;
}

.add-button:hover {
  background-color: #eb6e8b !important;

}

.new-image-modal {
  height: 500px;
  width: 90%;
  margin: 50px auto 0px auto;
  background-color: white;
  color: #3c3c3c;
  border: 1px solid #3c3c3c;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-img-header {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 20px;
}

.new-image {
  object-fit: contain;
  width: 90%;
  border-radius: 3px;
}

.new-image-title {
  margin: 20px auto 0px auto;
}

.post-button {
  width: 100px !important;
  color: #3c3c3c !important;
  background-color: white !important;
  border-color: #3c3c3c !important;
}

.cancel-button {
  width: 100px !important;
  color: #3c3c3c !important;
  background-color: white !important;
  border-color: #3c3c3c !important;
}

.new-image-controls {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  color: white;
}

.edit-error {
  width: 180px;
  margin: 20px auto 0px auto;
}

.new-image-header {
  font-size: 32px;
  color: #4fc3f7;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 20px;
  text-decoration: underline;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.new-image-div {
  width: 250px;
  height: 250px;
  
  z-index: 10;
  border-radius: 8px;
  margin: 20px auto 0px auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-image-button{
  border: none !important;
  background-color: transparent;
}

.new-image-button:hover {
  background-color: transparent !important;
}

.new-image-button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  justify-content: space-evenly;
}

.select-img-header {
  margin-top: 5px;
  color: #f50057;
}

.image-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-image-inputs {
  border-top: 2px solid #f50057;
  width: 80%;
  margin: 20px auto 0px auto;
}

.title-field {
  margin: 40px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
}

.image-input {
  margin: 10px auto 10px auto;
  padding: 5px;
}

.tags-info {
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
}

.new-image-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  border-bottom: 2px solid #f50057;
  padding-bottom: 50px;
}

.draft-div {
  margin: 20px 20px 0px auto;
  width: 40%;
}

.draft-button {
  font-size: 14px !important;
}

.image-page-div {
  margin: 5px auto 0px auto;
  width: 260px;
  height: 260px;
 
}

.image-functions {
  width: 260px;
  margin: 30px auto 0px auto;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.image-data {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 75%;
}

.image-data-box {
  width: 30%;
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  cursor: pointer;
}

.post-content {
  width: 240px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;

}

.loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 260px;
}

.loading:after {
  content: ' .';
  animation: dots .5s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
      
.post-info {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-div {
  width: 90%;
  margin: 10px auto;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.tag-link:hover {
  text-decoration: underline;
}

.comment-input {
  padding: 5px !important;
  border: 1px solid #dbdbdb;
  width: 60%;
}

.no-comments {
  width: 260px;
  margin: 20px auto 0 auto;
  text-align: center;
  opacity: .6;
}

.comments-add-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  height: 50px;
  justify-content: center;
  width: 80%;
}

.comments-functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.back-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments-main {
  width: 70%;
  margin: 20px auto 0px auto;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.comment-div {
  margin: 20px auto 10px auto;
  border-bottom: 1px solid    #D8D8D8;
  padding-bottom: 16px;
  width: 100%;
}

.comment-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
  align-items: flex-start;
}

.all-comments-link {
  text-align: center;
  margin-bottom: 20px;
}

.all-comments-link:hover {
  text-decoration: underline;
}

.search-div {
  width: 70%;
  margin: 20px auto 40px auto;
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: center;
  padding-left: 10px;
}

.search-button {
  cursor: pointer;
}

.option-buttons {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto 20px auto;
}

.option-button {
  width: 50% !important;
}

.user-results {
  width: 60%;
  margin: 20px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

.user-search-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.follow-button-div {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.follow-button {
  height: 30px !important;
}

.welcome-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.feed-div {
  margin-bottom: 40px;
}

.feed-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.date-header {
  width: 250px;
  margin: 10px auto 20px auto;
  opacity: 0.5;
}

.divider {
  border-bottom: 2px solid #00070c;
  width: 260px;
  margin: 10px auto;
  opacity: 0.4;
}

img.feed-img {
  object-fit: cover;
  cursor: pointer;
  height: 260px;
  width: 260px;
}

.comment-content {
  margin-left: 35px;
  margin-top: 10px;
  overflow-wrap: break-word;
}

img.new-img {
  height: 250px;
  width: 300px;
  object-fit: contain;
}

label.new-img-label {
  cursor: pointer;
}

.feed-content {
  display: none;
}

.feed-card {
  border-radius: 8px;
  border: 1px solid lightgray;
  margin: 20px 0 20px 0;
  padding-bottom: 20px;
}

.upload-text {
  display: none;
}

div.MuiAlert-standardError {
  width: 614px;
  margin: 10px auto 0px auto;
}

.date-header {
  width: 250px;
  margin: 10px auto 0 auto;
  opacity: 0.5;

}

.desktop-comments {
  display: none;
}

.follow-div {
  width: 60%;
  margin: 20px auto 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.posts-header {
  margin: 0 auto;
}